---
---

@import "{{ site.theme }}";

.jfk-bubble {
    filter: invert(100%) hue-rotate(180deg) brightness(150%) contrast(80%) !important;
}

html {
    background-color: #242729 !important;
}
html, body, input, textarea, select, button {
    background-color: #242729;
}
html, body, input, textarea, select, button {
    border-color: #838383;
    color: #ffffff;
}
a {
    color: #4ddaff;
}
table {
    border-color: #727272;
}
::placeholder {
    color: #ffffff;
}
::selection {
    background-color: #008aff;
    color: #ffffff;
}
::-moz-selection {
    background-color: #008aff;
    color: #ffffff;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #7e8900 !important;
    color: #ffffff !important;
}
::-webkit-scrollbar {
    background-color: #2a2d2f;
    color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background-color: #3f4245;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #4b5053;
}
::-webkit-scrollbar-thumb:active {
    background-color: #5c6065;
}
::-webkit-scrollbar-corner {
    background-color: #242729;
}
* {
    scrollbar-color: #3f4245 #2a2d2f;
}
